<ul>
    {% assign entries = include.context %}
    {% for entry in entries %}
        
            <li class="{% if page.url contains entry.url %}active{% endif %}">
                {% if entry.sublinks %}<input type="checkbox" class="check"> {% endif %}
                <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
                {% if entry.sublinks %}
                   {% include list.html context=entry.sublinks %}                
                {% endif %}
             </li>
        
    {% endfor %}
</ul>
