---
---

@import "{{ site.theme }}";

nav ul{
 padding: 0;
 background-color: rgba(179, 206, 182, 0.1);
 margin-bottom: 0;
}
.navigation li {
    border-width: 0 0 1px 1px;
    border-style: outset;
    border-color: #b0b9b0;
}
nav.navigation {
    display: block;
}
nav .check~ul {
    display: none;
}

nav .check:checked~ul {
    display: block;
}
